.product {
  padding: 20px 50px;
  display: flex;
  gap: 50px;
  margin-top: 2%;
  .left {
    flex: 1;
    display: flex;
    gap: 20px;
    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
        // box-shadow: 0px 0px 7px -1px rgba(79, 79, 79, 0.82);
      }
      img:hover {
        border: 1px solid black;
      }
    }
    .mainImg {
      flex: 5;

      img {
        width: 100%;
        max-height: 800px;
        box-shadow: 0px 0px 7px -1px rgba(189, 189, 189, 0.87);

        object-fit: cover;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .price {
      font-size: 30px;
      color: #2879fe;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        box-shadow: 0px 0px 2px 0px rgba(79, 79, 79, 0.82);
      }
    }

    .add {
      width: 250px;
      padding: 10px;
      background-color: #2879fe;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
      border: none;
      font-weight: 500;
      transition: 0.3s;
      box-shadow: 0px 0px 7px 0px rgba(31, 144, 250, 0.71);
    }
    .add:hover {
      box-shadow: 0px 0px 17px 0px rgba(31, 144, 250, 0.71);
    }
    .add:active {
      box-shadow: 0px 0px 7px 0px rgba(31, 144, 250, 1);
    }

    .addToCartAlert {
      width: 13%;
      height: 35px;
      background-color: #5595fc;
      color: white;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      justify-content: center;
      border-radius: 6px;
      margin-top: -2%;
      box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.44);
    }

    .links {
      display: flex;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #2879fe;
        font-size: 14px;
      }
    }

    .info {
      // Wysrodkowac ten element w normalny sposob
      gap: 10px;
      font-size: 14px;
      margin-top: 25%;
      margin-left: -45%;
      width: 90%;

      // hr {
      //   width: 200px;
      //   border: 1px solid rgb(238, 237, 237);
      // }
    }

    hr {
      border: 1px solid rgb(238, 237, 237);
    }
  }
}
